# Importing libraries

In [74]:
import pandas as pd

# Data Cleaning

## World Bank DataFrame

In [75]:
wb = pd.read_csv("../data/1 Indicadores_del_desarrollo_humano_mundial Banco Mundial.csv")

### Deleting columns that aren't goint to be used

In [76]:
wb = wb.drop(columns=["Series Code", "2019 [YR2019]"]) # Year 2019 has a lot of empty values

### Unpivoting columns named like years

In [77]:

wb_melted = (wb
             .melt(
                    id_vars=['Series Name', 'Country Name', 'Country Code'], # variables that will remain as they are in the reshaped DataFrame
                    var_name='Year', # column name of the original DataFrame that is being melted
                    value_name='Value' # name of the column that will store the values from the original DataFrame that are being melted.
                    )
              )

In [78]:
wb_melted.head()

,Series Name,Country Name,Country Code,Year,Value
0,Superficie (kilómetros cuadrados),Estados Unidos,USA,2000 [YR2000],9632030
1,Superficie (kilómetros cuadrados),Unión Europea,EUU,2000 [YR2000],4384964.995
2,Superficie (kilómetros cuadrados),Japón,JPN,2000 [YR2000],377800
3,Superficie (kilómetros cuadrados),Mundo,WLD,2000 [YR2000],131606512.3
4,"INB, método Atlas (US$ a precios actuales)",Estados Unidos,USA,2000 [YR2000],1.01476E+13

### Cleaning Year column

In [79]:
wb_melted["Year"] = wb_melted["Year"].str[:4]

### Replacing

In [80]:
wb_melted = wb_melted.replace(to_replace="..", value="")

In [81]:
wb_melted["Value"] = wb_melted["Value"].replace(to_replace="", value="0")

In [82]:
wb_melted["Value"] = wb_melted["Value"].astype(float)
wb_melted["Year"] = wb_melted["Year"].astype(int)

In [83]:
wb_melted.dtypes

Series Name      object
Country Name     object
Country Code     object
Year              int32
Value           float64
dtype: object

In [84]:
wb_melted

,Series Name,Country Name,Country Code,Year,Value
0,Superficie (kilómetros cuadrados),Estados Unidos,USA,2000,9.632030e+06
1,Superficie (kilómetros cuadrados),Unión Europea,EUU,2000,4.384965e+06
2,Superficie (kilómetros cuadrados),Japón,JPN,2000,3.778000e+05
3,Superficie (kilómetros cuadrados),Mundo,WLD,2000,1.316065e+08
4,"INB, método Atlas (US$ a precios actuales)",Estados Unidos,USA,2000,1.014760e+13
...,...,...,...,...,...
4498,NaN,NaN,NaN,2018,NaN
4499,NaN,NaN,NaN,2018,NaN
4500,NaN,NaN,NaN,2018,NaN
4501,Data from Database: Indicadores del desarrollo...,NaN,NaN,2018,NaN
4502,Last Updated: 05/28/2020,NaN,NaN,2018,NaN

### Pivoting 'Series Name' rows to columns

In [85]:
index_columns = ['Country Name', 'Country Code', 'Year']

wb_pivoted = (
    wb_melted
    .pivot_table(index = index_columns,
                  columns='Series Name', 
                  values='Value'
                )

)

In [86]:
wb_pivoted

Series Name                       Agricultura, valor agregado (% del PIB)
Country Name   Country Code Year
Estados Unidos USA          2000                                 1.150456  \
                            2001                                 1.129326
                            2002                                 0.970431
                            2003                                 1.115257
                            2004                                 1.258660
...                                                                   ...
Unión Europea  EUU          2014                                 1.714152
                            2015                                 1.662216
                            2016                                 1.619582
                            2017                                 1.714678
                            2018                                 1.650710

Series Name                       Ayuda oficial neta para el desarrollo y oficial neta recibidas (US$ a precios actuales)
Country Name   Country Code Year
Estados Unidos USA          2000                                                0.0                                        \
                            2001                                                0.0
                            2002                                                0.0
                            2003                                                0.0
                            2004                                                0.0
...                                                                             ...
Unión Europea  EUU          2014                                                0.0
                            2015                                                0.0
                            2016                                                0.0
                            2017                                                0.0
                            2018                                                0.0

Series Name                       Comercio de mercaderías (% del PIB)
Country Name   Country Code Year
Estados Unidos USA          2000                            19.909766  \
                            2001                            18.033568
                            2002                            17.312184
                            2003                            17.697485
                            2004                            19.163312
...                                                               ...
Unión Europea  EUU          2014                            70.383584
                            2015                            70.418468
                            2016                            69.093655
                            2017                            72.289778
                            2018                            73.779142

Series Name                       Consumo de energía eléctrica (kWh per cápita)
Country Name   Country Code Year
Estados Unidos USA          2000                                   13671.052020  \
                            2001                                   13046.614150
                            2002                                   13296.182300
                            2003                                   13307.492010
                            2004                                   13388.589710
...                                                                         ...
Unión Europea  EUU          2014                                    6021.860983
                            2015                                       0.000000
                            2016                                       0.000000
                            2017                                       0.000000
                            2018                                       0.000000

Series Name                       Crecimiento del PIB (% anual)
Country Name   Country Code Year
Estados Unidos USA          2000                       4.127484  \
                            2001                       0.998341
                            2002                       1.741695
                            2003                       2.861211
                            2004                       3.798891
...                                                         ...
Unión Europea  EUU          2014                       1.584911
                            2015                       2.352356
                            2016                       2.060907
                            2017                       2.723967
                            2018                       2.126510

Series Name                       Crédito interno proporcionado por el sector financiero (% del PIB)
Country Name   Country Code Year
Estados Unidos USA          2000                                          81.970745                   \
                            2001                                          86.629821
                            2002                                          88.327290
                            2003                                          89.277680
                            2004                                          89.729561
...                                                                             ...
Unión Europea  EUU          2014                                         153.191470
                            2015                                         147.384786
                            2016                                         148.052136
                            2017                                         142.323800
                            2018                                         138.923167

Series Name                       Desempleo, mujeres (% de la población activa femenina) (estimación modelado OIT)
Country Name   Country Code Year
Estados Unidos USA          2000                                           4.100000                                 \
                            2001                                           4.653000
                            2002                                           5.610000
                            2003                                           5.661000
                            2004                                           5.397000
...                                                                             ...
Unión Europea  EUU          2014                                          11.041439
                            2015                                          10.190173
                            2016                                           9.393511
                            2017                                           8.442319
                            2018                                           7.583233

Series Name                       Desempleo, total (% de la población activa total) (estimación modelado OIT)
Country Name   Country Code Year
Estados Unidos USA          2000                                           3.992000                            \
                            2001                                           4.731000
                            2002                                           5.783000
                            2003                                           5.989000
                            2004                                           5.529000
...                                                                             ...
Unión Europea  EUU          2014                                          10.843345
                            2015                                          10.023739
                            2016                                           9.124778
                            2017                                           8.135619
                            2018                                           7.269402

Series Name                       Desempleo, varones (% de la población activa masculina) (estimación modelado OIT)
Country Name   Country Code Year
Estados Unidos USA          2000                                           3.901000                                  \
                            2001                                           4.797000
                            2002                                           5.929000
                            2003                                           6.266000
                            2004                                           5.640000
...                                                                             ...
Unión Europea  EUU          2014                                          10.676268
                            2015                                           9.883848
                            2016                                           8.897380
                            2017                                           7.876073
                            2018                                           7.003536

Series Name                       Deuda externa acumulada, total (DOD, US$ a precios actuales)
Country Name   Country Code Year
Estados Unidos USA          2000                                                0.0             \
                            2001                                                0.0
                            2002                                                0.0
                            2003                                                0.0
                            2004                                                0.0
...                                                                             ...
Unión Europea  EUU          2014                                                0.0
                            2015                                                0.0
                            2016                                                0.0
                            2017                                                0.0
                            2018                                                0.0

Series Name                       ...
Country Name   Country Code Year  ...
Estados Unidos USA          2000  ...  \
                            2001  ...
                            2002  ...
                            2003  ...
                            2004  ...
...                               ...
Unión Europea  EUU          2014  ...
                            2015  ...
                            2016  ...
                            2017  ...
                            2018  ...

Series Name                       Tasa de fertilidad, total (nacimientos por cada mujer)
Country Name   Country Code Year
Estados Unidos USA          2000                                           2.056000       \
                            2001                                           2.030500
                            2002                                           2.020500
                            2003                                           2.047500
                            2004                                           2.051500
...                                                                             ...
Unión Europea  EUU          2014                                           1.535283
                            2015                                           1.537246
                            2016                                           1.566146
                            2017                                           1.557486
                            2018                                           1.543452

Series Name                       Tasa de finalización de la educación de nivel primario, total (% del grupo etario correspondiente)
Country Name   Country Code Year
Estados Unidos USA          2000                                            0.00000                                                   \
                            2001                                            0.00000
                            2002                                            0.00000
                            2003                                            0.00000
                            2004                                            0.00000
...                                                                             ...
Unión Europea  EUU          2014                                           96.57399
                            2015                                           97.33527
                            2016                                           96.66967
                            2017                                           97.19801
                            2018                                           97.26261

Series Name                       Tasa de mortalidad, menores de 5 años (por cada 1.000)
Country Name   Country Code Year
Estados Unidos USA          2000                                           8.400000       \
                            2001                                           8.300000
                            2002                                           8.200000
                            2003                                           8.100000
                            2004                                           8.100000
...                                                                             ...
Unión Europea  EUU          2014                                           4.331896
                            2015                                           4.223672
                            2016                                           4.109795
                            2017                                           4.001131
                            2018                                           3.887196

Series Name                       Tiempo necesario para iniciar un negocio (días)
Country Name   Country Code Year
Estados Unidos USA          2000                                         0.000000  \
                            2001                                         0.000000
                            2002                                         0.000000
                            2003                                         0.000000
                            2004                                         0.000000
...                                                                           ...
Unión Europea  EUU          2014                                        14.351852
                            2015                                        13.240741
                            2016                                        12.722222
                            2017                                        12.351852
                            2018                                        13.277778

Series Name                       Total del servicio de la deuda (% de exportaciones de bienes, servicios e ingreso)
Country Name   Country Code Year
Estados Unidos USA          2000                                                0.0                                   \
                            2001                                                0.0
                            2002                                                0.0
                            2003                                                0.0
                            2004                                                0.0
...                                                                             ...
Unión Europea  EUU          2014                                                0.0
                            2015                                                0.0
                            2016                                                0.0
                            2017                                                0.0
                            2018                                                0.0

Series Name                       Transferencias personales y remuneración de empleados, recibidos (balanza de pagos, US$ a precios actuales)
Country Name   Country Code Year
Estados Unidos USA          2000                                       4.395000e+09                                                            \
                            2001                                       4.513000e+09
                            2002                                       4.570000e+09
                            2003                                       4.672000e+09
                            2004                                       4.734000e+09
...                                                                             ...
Unión Europea  EUU          2014                                       1.144860e+11
                            2015                                       1.053240e+11
                            2016                                       1.062640e+11
                            2017                                       1.122170e+11
                            2018                                       1.195380e+11

Series Name                       Uso de energía (kg de equivalente de petróleo per cápita)
Country Name   Country Code Year
Estados Unidos USA          2000                                        8056.863850          \
                            2001                                        7827.886325
                            2002                                        7843.344849
                            2003                                        7794.235530
                            2004                                        7881.578642
...                                                                             ...
Unión Europea  EUU          2014                                        3123.595740
                            2015                                        3278.352078
                            2016                                           0.000000
                            2017                                           0.000000
                            2018                                           0.000000

Series Name                       Área selvática  (kilómetros cuadrados)
Country Name   Country Code Year
Estados Unidos USA          2000                             3035360.000  \
                            2001                             3037801.875
                            2002                             3040244.063
                            2003                             3042685.938
                            2004                             3045128.125
...                                                                  ...
Unión Europea  EUU          2014                             1607120.000
                            2015                             1610812.392
                            2016                             1614504.803
                            2017                                   0.000
                            2018                                   0.000

Series Name                       Áreas protegidas terrestres y marinas (% del total de la superficie territorial)
Country Name   Country Code Year
Estados Unidos USA          2000                                           0.000000                                 \
                            2001                                           0.000000
                            2002                                           0.000000
                            2003                                           0.000000
                            2004                                           0.000000
...                                                                             ...
Unión Europea  EUU          2014                                           0.000000

In [87]:
wb_pivoted.dtypes

Series Name
Agricultura, valor agregado (% del PIB)                                                                        float64
Ayuda oficial neta para el desarrollo y oficial neta recibidas (US$ a precios actuales)                        float64
Comercio de mercaderías (% del PIB)                                                                            float64
Consumo de energía eléctrica (kWh per cápita)                                                                  float64
Crecimiento del PIB (% anual)                                                                                  float64
Crédito interno proporcionado por el sector financiero (% del PIB)                                             float64
Desempleo, mujeres (% de la población activa femenina) (estimación modelado OIT)                               float64
Desempleo, total (% de la población activa total) (estimación modelado OIT)                                    float64
Desempleo, varones (% de la población activa masculina) (estimación modelado OIT)                              float64
Deuda externa acumulada, total (DOD, US$ a precios actuales)                                                   float64
Emisiones de CO2 (toneladas métricas per cápita)                                                               float64
Esperanza de vida al nacer, total (años)                                                                       float64
Exportaciones de bienes y servicios (% del PIB)                                                                float64
Exportaciones de productos de alta tecnología (% de las exportaciones de productos manufacturados)             float64
Extracción anual de agua dulce, total (% de recursos internos)                                                 float64
Formación bruta de capital (% del PIB)                                                                         float64
Gasto militar (% del PIB)                                                                                      float64
INB per cápita, PPA (a $ internacionales actuales)                                                             float64
INB per cápita, método Atlas (US$ a precios actuales)                                                          float64
INB, PPA (a $ internacionales actuales)                                                                        float64
INB, método Atlas (US$ a precios actuales)                                                                     float64
Importaciones de bienes y servicios (% del PIB)                                                                float64
Industria, valor agregado (% del PIB)                                                                          float64
Inflación, índice de deflación del PIB (% anual)                                                               float64
Inscripción escolar, nivel primario (% bruto)                                                                  float64
Inscripción escolar, nivel secundario (% bruto)                                                                float64
Inversión extranjera directa, entrada neta de capital (balanza de pagos, US$ a precios actuales)               float64
Migración neta                                                                                                 float64
Nacimientos asistidos por personal de salud capacitado (% del total)                                           float64
Nivel general de la capacidad estadística (escala 0 - 100)                                                     float64
PIB (US$ a precios actuales)                                                                                   float64
Población activa, mujeres (% de la población activa total)                                                     float64
Población activa, total                                                                                        float64
Población de 65 años de edad y más, hombres                                                                    float64
Población de 65 años de edad y más, mujeres                                                                    float64
Población de 65 años de edad y más, total                                                                      float64
Población entre 0 y 14 años de edad, hombres                                                                   float64
Población entre 0 y 14 años de edad, mujeres                                                                   float64
Población entre 0 y 14 años de edad, total                                                                     float64
Población entre 15 y 64 años de edad, hombres                                                                  float64
Población entre 15 y 64 años de edad, mujeres                                                                  float64
Población entre 15 y 64 años de edad, total                                                                    float64
Prevalencia de uso de métodos anticonceptivos (% de mujeres entre 15 y 49 años)                                float64
Proporción de niñas con respecto a niños en educación primaria y secundaria (%)                                float64
Recaudación impositiva (% del PIB)                                                                             float64
Recaudación, excluidas las donaciones (% del PIB)                                                              float64
Superficie (kilómetros cuadrados)                                                                              float64
Suscripciones a telefonía celular móvil (por cada 100 personas)                                                float64
Tasa de fertilidad, total (nacimientos por cada mujer)                                                         float64
Tasa de finalización de la educación de nivel primario, total (% del grupo etario correspondiente)             float64
Tasa de mortalidad, menores de 5 años (por cada 1.000)                                                         float64
Tiempo necesario para iniciar un negocio (días)                                                                float64
Total del servicio de la deuda (% de exportaciones de bienes, servicios e ingreso)                             float64
Transferencias personales y remuneración de empleados, recibidos (balanza de pagos, US$ a precios actuales)    float64
Uso de energía (kg de equivalente de petróleo per cápita)                                                      float64
Área selvática  (kilómetros cuadrados)                                                                         float64
Áreas protegidas terrestres y marinas (% del total de la superficie territorial)                               float64
Índice de términos netos de intercambio (2000 = 100)                                                           float64
dtype: object

## Console Sales DataFrame

In [88]:
console_sales = pd.read_csv("../data/2 Console_sales.csv")