# Importing libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Load

Before this step, usually data extraction is needed. In this case, we already have csv files that will be our dataset.

In [4]:
wb = pd.read_csv("../data/1 Indicadores_del_desarrollo_humano_mundial Banco Mundial.csv")
wb.head()

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Superficie (kilómetros cuadrados),AG.SRF.TOTL.K2,Estados Unidos,USA,9632030,9632030,9632030,9632030,9632030,9632030,...,9831510,9831510,9831510,9831510,9831510,9831510,9831510,9831510,9831510,..
1,Superficie (kilómetros cuadrados),AG.SRF.TOTL.K2,Unión Europea,EUU,4384964.995,4384984.995,4385294.995,4385644.995,4385414.995,4385434.995,...,4386039.99,4386021.997,4383341.997,4384062.192,4384082.593,4384131.577,4384317.593,4384317.593,4384317.593,..
2,Superficie (kilómetros cuadrados),AG.SRF.TOTL.K2,Japón,JPN,377800,377880,377890,377900,377910,377910,...,377950,377955,377960,377961.9922,377961.9922,377971.0156,377970,377970,377970,..
3,Superficie (kilómetros cuadrados),AG.SRF.TOTL.K2,Mundo,WLD,131606512.3,131606902.7,131607327.4,131607728.8,131605872.8,131607830.2,...,131805574.2,131805826.4,131803288.4,132047813.1,132046109.5,132048793.1,132036620.8,132036620.8,132025199.4,..
4,"INB, método Atlas (US$ a precios actuales)",NY.GNP.ATLS.CD,Estados Unidos,USA,1.01476E+13,1.04622E+13,1.07327E+13,1.15364E+13,1.27405E+13,1.36514E+13,...,1.51542E+13,1.57569E+13,1.65605E+13,1.70489E+13,1.77765E+13,1.81914E+13,1.84673E+13,1.91948E+13,2.06363E+13,..

In [10]:
console_sales = pd.read_csv("../data/2 Console_sales.csv")
console_sales.head()

   Year   Dato       Console   Company       Sales
0  2011  anual  Nintendo 3DS  Nintendo  12,560,000
1  2012  anual  Nintendo 3DS  Nintendo  13,480,000
2  2013  anual  Nintendo 3DS  Nintendo  14,310,000
3  2014  anual  Nintendo 3DS  Nintendo   9,740,000
4  2015  anual  Nintendo 3DS  Nintendo   7,330,000

In [9]:
steam = pd.read_csv("../data/3 Juegos en steam.csv")
steam.head()

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99

In [12]:
videogame_sales= pd.read_csv("../data/4. Video Games Sales.csv")
videogame_sales.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,NaN,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,NaN,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

# EDA

## World Bank Data